<div class="container-fluid" id="footer" style="display:flex;justify-content:center;height:15vh;background-color: #DDDDDD;">
	<div class="row" style="display:flex;justify-content:center;">
		<div class="col align-self-center">
			<a href="https://www.unipd.it" target="_new">
				<img src="${pageContext.request.contextPath}/media/unipd-800-logo.png" style="max-height: 12vh;" alt="Unipd Logo">
			</a>
		</div>
		
		<div class="col align-self-center">
			<a href="https://iiia.dei.unipd.it" target="_new">
				<img src="${pageContext.request.contextPath}/media/iiia-logo.png" style="max-height: 12vh;" alt="The IIIA Hub Logo">
			</a>
		</div>
	</div>
</div>