.group_desc{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.8rem;
}
.inline{
    display: inline-block;
}
.inp{
    width: 50px;
}
.searchbar {
    margin-top: 3%;
}
h1,
h3 {
    text-align: center;
    margin: 5% !important;
}
h6 {
    height: 1vh;
}

.film {
    margin: 7%;
}
.film_container {
    margin-top: 3%;
    text-align: center;
}
#form_cont {
    display: block;
}
#form_cont > button {
    margin-left: 5px;
}
.select,
.buttonform {
    text-align: center;
    margin: 2% 0;
}
img.image-lst {
    width: 25vh;
    height: 25vh;
    cursor: pointer;
    margin-bottom: 15%;
    border-radius: 50%;
    transition: transform 0.5s ease;
}
img.image-lst:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1400px) {
    img.image-lst {
        width: 15vh;
        height: 15vh;
    }
    h6 {
        height: 4vh;
    }
}
.openform {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: rgb(58, 26, 99);
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
}

.openform:hover {
    background-color: rgb(151, 49, 49);
}

.openform:active {
    background-color: rgb(63, 61, 171);
}

.show {
    display: block;
    text-align: center;
}
.film_best_container {
    margin: 5%;
}
.btn-sm {
    margin: 3%;
}
#alerts {
    clear: both;
}
.row{
    margin:10px;
}
.desc{
    margin:10px;
}
