html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 320px;
	background-color: #F9F9F9;
}

.navbar-inverse {
	background-color: #9B0014;
	margin-bottom: 20px;
}

/*::-webkit-scrollbar {*/
/*	display: none;*/
/*}*/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #DDDDDD;
	color: white;
}

.container-fluid {
	padding: 0 2em
}

.navbar-nav .nav-link {
	color: white;
}

.navbar-toggler {
	color: white;
	padding: 0.75rem 1rem;
}

.list {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	list-style-type: none;
	padding: 0;
}

.classform{
	margin-top:10px;
}
.msgmargin{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.headerup{
	height:2vh;
	background-color: #9B0014;
}
.button-container{
	display: flex;
	justify-content: space-evenly;
}
.welcome{
	text-align: center;
	margin: 10px 0 40px 0;
}
.imgcenter{
	text-align: center;
	margin: 30px 0 50px 0;
}
td{
	padding:20px !important;
}
.notes{
	width:300px !important;
}

body {
	font-family: "Lato", sans-serif;
}

.login{
	margin:20px;
}

.main-head{
	height: 150px;
	background: #FFF;

}

.sidenav {
	height: 100%;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 20px;
}


.main {
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
	.login-form{
		margin-top: 10%;
	}

	.register-form{
		margin-top: 10%;
	}
}

@media screen and (min-width: 768px){
	.main{
		margin-left: 40%;
	}

	.sidenav{
		width: 40%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
	}

	.login-form{
		margin-top: 80%;
	}

	.register-form{
		margin-top: 20%;
	}
}


.login-main-text{
	margin-top: 20%;
	padding: 60px;
	color: #fff;
}

.login-main-text h2{
	font-weight: 300;
}

.btn-black{
	background-color: #000 !important;
	color: #fff;
}